.dashed{
    outline: 1px dashed rgba(170,170,170,0.7);
    outline-offset: -2px;
    background-color: white;
    opacity: 0.5;

    }
.dashed:hover{
    opacity: 1;
    outline: 3px solid lightblue;

    
}
/* #page:hover > div.dashed:not(:hover){
    opacity: 0.1;   

    background-color: #ffa;
} */