.dashed{
    outline: 1px dashed rgba(170,170,170,0.7);
    outline-offset: -2px;
    background-color: white;
    opacity: 0.5;

    }
.dashed:hover{
    opacity: 1;
    outline: 3px solid lightblue;

    
}
/* #page:hover > div.dashed:not(:hover){
    opacity: 0.1;   

    background-color: #ffa;
} */

.title{
    
    color: #7ef36b;
    font-size: 26px; 

}
.title-upper{
    text-transform: uppercase;
    color: #7ef36b;

}